body{
    background-color: darksalmon;
}

.card{
    background-color: honeydew;
    border: solid black;
    margin-top: 60px;
}

tr{
    background-color: honeydew;
    border:solid black;
}

h1{
    font-size: 2.7rem;
    margin-top: 60px;
    margin-bottom: 60px;
}